.slider {
  margin: 0 auto;
}

.slider {
  overflow: hidden;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.slideDiv,
.controls {
  position: absolute;
}

.slideDiv,
.slide {
  width: 100%;
  height: 100%;
}

.slide {
  background-size: cover;
}

.controls {
  top: 33%;
  right: 0;
  padding: 0 25px;
  z-index: 5;
  text-align: center;
}

.button { 
  width: 14px;
  height: 18px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease .2s;
}

.button:not(:last-child) {
  margin-bottom: 20px;
}

.button {
  border: 1px solid #fff;
  opacity: .5;
  outline: none;
  background-color: #333;
}

.button.selected{
    opacity: 1;
}

.button:hover,
.button:focus {
  opacity: 1;
}

.selected {
  background-color: black;
}