body {
    margin: 0 auto;

    .slider {
        height: 960px;
        background-color: #f7f7f8;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            text-align: center;

            span {
                font-weight: 700;
            }
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .husky {
            height: 960px;
            background-color: #f7f7f8;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
    
    .bloc{  
        display: flex;
        justify-content: center;
        margin: 0 auto;
        
        .flex6{
            display: flex;
        }
        
        #adharastar{
            flex-basis: 50%;
            align-items: stretch;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: white !important;
            
            // .trait{
            //     :after {
            //         content: '';
            //         height: 6px;
            //         width: 50px;
            //         background-color: magenta;
            //         position: absolute;
            //         bottom: -6px;
            //     }
            // }
            
            h2{
                font-family: 'Open Sans', sans-serif;
                font-size: 21px;
                position: relative;
                  
            }

            .underline{
                position: relative;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .underline::before{
                content:'';
                position: absolute;
                background-color: black;
                width: 40px;
                height: 1px;
                bottom: 0;
                right: 0;
                left: -20px;
                
            }


            
            h4{
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 14px;
            }
            
            p{
                font-family: 'Merriweather', serif;
                text-align: center;
                font-size: 12px;
                color: grey;
                font-style: italic;
            }

            img{
                width: 100%; 
            }
        }

        .backgrounded{
            color: white;
            background-image: url("../assets/img/backgound_universe.png"); /* The image used */
            background-color: magenta; /* Used if the image is unavailable */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
            .underwhiteline{
                position: relative;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .underwhiteline::before{
                content:'';
                position: absolute;
                background-color: white;
                width: 40px;
                height: 1px;
                bottom: 0;
                right: 0;
                left: -20px;
                
            }
        }

        #fourpics{
            flex-basis: 50%;
            align-items: stretch;
            flex-direction: row;
            flex-wrap: wrap;
            img{
                width: 50%; 
            }
        }
    }
// j'adore le front end
}