  footer {
      background-color: #03062f;
      height: 50px;
      //margin-left: -8px;
      //margin-right: -8px;
      .content-footer {
          width: calc(100% - 50px);
          max-width: $lg;
          margin: 0 auto;
          margin-bottom:80px;
      }
      //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      img {
          margin-top: 15px;
          width: 4%;
          height: auto;
      }
      //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      p {
          display: inline-block;
          position: absolute;
          margin-top: 20px;
          margin-left: 10px;
          color: #6270ff;
          font-family: "BwModelica";
          font-size: 15px;
      }
      //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      span.icons {
          display: inline-block;
          overflow: hidden;
          margin-left: 950px;
          i {
              color: #6270ff;
              display: inline-block;
              padding-right: 15px;
              font-size: 10px;
          }
      }
      //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  }