form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .formulaire {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 1200px;

        .form6 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 50%;
            width: 100%;

        }
                .input-icon-wrap {
                    border: 1px solid #ddd;    
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-left: 25px;
                    margin-bottom: 25px;
                }
                
                .input-icon {
                    background: #fafafa;
                }
                
                .input-with-icon {
                    border: none;
                    flex: 1;
                    margin-left: 15px;
                  }
                  
                  .input-icon, .input-with-icon {
                    padding: 10px;
                  }

        .form12{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 50%;
            width: 100%;
        }

        input {
            width: 100%;
        }

        // input[type=text]:focus {
        //     border: 3px solid #555;
        //   }
    }

    h2 {
        padding-top: 160px;
        padding-bottom: 100px;
        font-family: 'Open Sans', sans-serif;
    }

}