header {
    background-color: #2a2a2a;
    height: 100px;
    align-items: center;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        // display: none;

        .navlinks {
            display: flex;
            width: 1200px;
            height: 100%;

            ul {
                flex-grow: 1;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .itemnav {
                    display: flex;
                    flex-direction: row;
                }

                li {
                    display: flex;
                    align-items: center;
                    font-family: 'Open Sans', sans-serif;
                    color: white;
                    text-decoration: none;
                    list-style: none;
                    text-transform: uppercase;
                    position: relative;
                    font-size: 12px;

                    cursor: pointer;

                    &:hover {
                        color: #eae0b2;
                    }

                    &:after {
                        content: '';
                        height: 6px;
                        width: 100%;
                        background-color: #eae0b2;
                        position: absolute;
                        bottom: -6px;
                    }

                    &:hover {
                        &:after {
                            bottom: 0px;
                            transition: all 500ms;

                        }
                    }
                }
            }

            .logonav {
                display: flex;
                align-items: center;
                padding: 0 100px;
            }
        }
    }
}